/* Legal Pages Styling */
body {
    font-family: "Avenir Book", sans-serif;
    font-size: 18px;
}

header {
    text-align: center;
}

.legal-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    font-family: "Avenir Book", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .legal-container p {
    margin-bottom: 20px;
  }
  
  .back-to-home {
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #990036;
    font-weight: bold;
    text-decoration: none;
  }
  
  .back-to-home:hover {
    color: #ca9921;
  }
  